html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
}
.body{
    max-width: 100%;
    background-color:#e9edeb;
    margin: 0;
}
.header{
    max-width:100%;
    height:60px;
    display:flex;
    justify-content: space-between;
    background-color: white;
    padding: 0 20px;
}
.header-left{
width: 100px;
/* max-height: 50px; */

}
.header-left ul {
list-style: none;
left:0;
top:0;
color: red;
max-height: 50px;
max-width: 80px;
display:flex;
justify-content: space-between;
}
.header i {
    line-height: 60px;
    /* padding-right: 30px;
    padding-left: 10px; */
}

/* headerPC */
.headerPC{
    display: none;
}





/* content */

/* img-location */
.content{
    max-width: 100%;  
}
.img-location{
    height: 370px;
    max-width: 100%;
    margin: 12px;
    position: relative; 

}
.img-location img{
height: 370px;
width: 100%;
max-width: 100%;
max-height: 370px;
}
.img-location p{
    color: white;
    font-size:20px;
    bottom: 0;
    left: 0;
    margin-bottom: 0px;
    position: absolute;
}


/* info-travel */
.info-travel{
    height: 430px;
    max-width: 100%;
    margin: 12px;
    background-color:white;
}
.info-travel img{
width: 100%;
max-width: 100%;
height: 250px;
}
.info-travel h3,
.info-travel p,
.info-travel button,
.info-travel div {
padding-left: 10px;
}
.info-travel div{
    opacity: 0.7;
}
.info-travel button{
    cursor: pointer;
    margin-left: 10px;
}





@media(min-width:770px){
    /* .content{
        max-width: 100%;    
    } */

    


    .main-location{
        display: flex;
        justify-content: space-between;
        max-width: 100%;
    }
    
    .location-left{
        flex:1;
        width: 100%;
        max-width: 100%;
    }
    .location-left .img-location img{
        width: 100%;
        /* height: 100%; */
        max-width: 100%;
        /* max-height: 100%; */
        /* margin-left: 5px; */
    }
    .location-right{
        flex:1;
        max-width: 100%;
        /* margin-right: 10px; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        
    }
    .location-right .img-location{
        height: 158px;
        width: 300px;
        max-width: 100%;
        margin: 0;
        
    }
    .location-right .img-location img{
        height: 150px;
        width: 300px;
    }
    .img-locationtop{
        display: flex;
        max-width: 100%;
        align-items:center;
        justify-content: space-evenly;

    }
    .img-locationbottom{
        display: flex;
        max-width: 100%;
        align-items:center;
        justify-content: space-evenly;
    }

    .img-location img{
        flex: 1; 
    }   




    .main-travel{
        display: flex;
        justify-content: space-between;

    }
    .info-travel{
        width:600px;
        height: 500px;
    }
    .info-travel img{
        height:300px;
    }
    .img-location p{
    bottom: 0;
    left: 0;
    margin-bottom: 10px;
    }

    .headerPC{
        display:inline-block;
    }
    .headerPC img {
        position: relative;
        width: 1500px;
        height: 550px;
        max-width: 100%;
        
    }
    .main-headerPC{
        position:absolute;
        top: 220px;
        right: 224px;
        left: 224px;
        max-width: 100%;    
        background-color: #fff;
        

    }
   
    .infocontrol{
        background-color: white;
    }
   
 
    .control-headerpc{
        display:flex;
        background-color:black;
        color:white;
        flex-direction: row;
        height: 39px;
        width: 832px;
        max-width: 100%;
    }

 
    .control-headerpc button{
        padding: 8px 16px;
        height: 39px;
        max-height: 100%;
        border:0;
        background-color: black;
        color: white;
        cursor: pointer;
    }
   


    .flight{
        max-width: 100%;
        display: none;
    }

    .fromto{
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        max-width: 100%;
    }
    .from, .to{
        flex: 1;
        padding: 7px;
    }
    .fromto input{
        /* width: 350px; */
        width: 100%;
        height: 25px;
        /* margin: 10px; */
        /* max-width: 100%; */
        /* margin-bottom: 30px ; */
        box-sizing: border-box;
        border-width: 1px;
        padding: 0;
    }
    .flight button{
        /* width: 200px; */
        width:auto;
        height: 30px;
        margin-bottom: 20px;
        margin-left: 20px;
        background-color: #616161;
        color: white;
        border:0;
        cursor: pointer;
    }
    .flight button:hover{
        background-color: #ccc;
        color: black;
    }
    

    .hotel{
        font-size:20px;
        display: none;
    }
    .hotel button{
        cursor: pointer;
        width: 120px;
        height: 50px;
        margin-left: 10px;
        margin-bottom: 10px;
        background-color: #616161;
        color: white;
        border: 0;

    }
    .hotel button:hover{
        background-color: #ccc;
        color: black;
    }

    .rental{
        font-size: 18px;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;
        display: none;
        
    }

    .rental span{   
        background-color: #ff5722;
        color: white;
    }

    .aa{
        /* padding:8px; */
        width:100%;
        max-width: 100%;
        overflow:visible;
        margin: 0;
        box-sizing: border-box;
    }
    .aa input{
        width: 100%;
        box-sizing: border-box;
        padding: 10px 10px;
    }
    .rental button{
        padding: 10px 10px;
        margin: 10px 0 10px 0;        
        cursor: pointer;
        background-color: #616161;
        color: white;
        border: 0;
    }
    .rental button:hover{
        background-color: #ccc;
        color: black;
    }

    .info{
        display: none;
    }
    .active{
        display: block;
        /* background-color: red; */
        /* color: white; */
    }

}


/* subscribe */
.subscribe{
    max-width: 100%;
    height:230px;
    background-color:black;
    opacity:0.7;
    color:white;
    padding:20px;
    margin:10px;
    font-size:15px;
   
}
.subscribe:hover{
    opacity:1;
}
.subscribe input{
    height: 30px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    /* margin:20px; */
}
.subscribe button{
    height: 35px;
    width: 90px;
    color:white;
    background-color:red;
    cursor: pointer;
    border:0;
}
.subscribe button:hover{
    color:black;
    background-color:#e9edeb;
}

/* contact */
.contact{
    /* width: 100%; */
    max-width: 100%;
    height: 450px;
    background-color:#e9edeb;
    margin: 10px;
    font-size: 20px;
    padding-right: 10px;
    padding-left: 10px;
}
.contact input{
    height: 30px;
    width: 100%;
    max-width: 100%;
    /* margin: 10px; */
    margin-bottom: 20px;
    
}
.contact i{
    width: 30px;
    margin-bottom: 15px;
}
.contact button{
    height: 40px;
    width: 150px;
    background-color: black;
    color: white;
    cursor: pointer;
    border: 0;
}
.contact button:hover{
    background-color: #ccc;
    color: black;

}

/* foodter */
.foodter{
    max-width: 100%;
    height:200px;
    text-align: center;
    font-size:20px;
    margin-top: 50px;
}
.foodter div{
    margin-top:25px;
    margin-bottom: 25px;
}